<h1>
    NgInf
</h1>
<p *ngIf="condition; else elseBlock">True</p>
<ng-template #elseBlock>
    <p>
        False
    </p>
</ng-template>
<hr>
<!-- O código abaixo mudará o valor acima em true e false-->
<p *ngIf="conditionClick">True</p>
<p *ngIf="!conditionClick">False</p>
<button (click)="onClick()">Clicar</button>
<hr>
<h1>
    NgFor
</h1>
<ul>
    <li *ngFor="let item of list; let i=index;" (click)="onClickEventList(i)">
        [{{i}}] - {{item.nome}} - idade: {{item.idade}}
    </li>
</ul>

<button (click)="onClickAddList()">Add</button>

<hr>
<h1>
    ngSwitch
</h1>

<input type="text" [(ngModel)]="nome">

<div [ngSwitch]="nome">
    <p *ngSwitchCase="'Caneta'">
        Item: Caneta
    </p>
    <p *ngSwitchCase="'Nome 1'">
        Nome 1: ngSwitchCase
    </p>
    <p *ngSwitchDefault>
        Dados não encontrados
    </p>
</div>

